# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
build/
dist/
.next/
out/
storybook-static/

# Testing
coverage/

# Caches
.cache/
.parcel-cache/
.eslintcache
.turbo/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
