/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$bookAngle: 60deg;
$speed: 5s;
$borderColor: #555;

$images: 
  url('images/photos/1.jpg'),
  url('images/photos/2.jpg'),
  url('images/photos/3.jpg'),
  url('images/photos/4.jpg'),
  url('images/photos/5.jpg'),
  url('images/photos/6.jpg');

.container {
  position: relative;
  width: 420px;
  border: #ffffff solid 2px;
  border-radius: 4px;
  height: 420px;
  width: auto;
}


.imgLoader {
  position: fixed;
  animation: preLoad 1s steps(1);
  width: 1px;
  height: 1px;

  @keyframes preLoad {
    @for $i from 0 through 4 {
      #{$i * 10}% {
        background-image: nth($images, ($i + 1));
      }
    }

    100% {
      display: none;
    }
  }
}



.book {
  position: relative;
  perspective: 630px;
  perspective-origin: center 50px;
  transform: scale(1.2);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.page {
  width: 210px;
  height: 300px;
  background-color: #bbb;
  position: absolute;
  top: 0px;
  right: 50%;
  transform-origin: 100% 100%;
  border: solid $borderColor 2px;
  background-size: 420px 300px;
  background-position: center;
  transform-style: preserve-3d;

  &:nth-child(1) {
    transform: rotateX($bookAngle) rotateY(3deg);
  }

  &:nth-child(2) {
    transform: rotateX($bookAngle) rotateY(4.5deg);
  }

  &:nth-child(3) {
    transform: rotateX($bookAngle) rotateY(6deg);
    animation: nextPage $speed*5 infinite $speed*-4.8 steps(1);
    background-size: 420px 300px;
    background-position: -2px -2px;
  }

  &:nth-child(4) {
    transform: rotateX($bookAngle) rotateY(177deg);
  }

  &:nth-child(5) {
    transform: rotateX($bookAngle) rotateY(175.5deg);
  }

  &:nth-child(6) {
    transform: rotateX($bookAngle) rotateY(174deg);
    overflow: hidden;

    &::after {
      content: '';
      width: 210px;
      height: 300px;
      position: absolute;
      top: 0px;
      right: 0%;
      transform-origin: center;
      transform: rotateY(180deg);
      animation: nextPage $speed*5 $speed*-4 infinite steps(1);
      background-size: 420px 300px;
      background-position: 100% -2px;
    }
  }

  @keyframes nextPage {
    @for $i from 0 through 4 {
      #{$i * 20}% {
        background-image: nth($images, ($i + 1));
      }
    }
  }
}

.gap {
  width: 10px;
  height: 300px;
  background: none;
  transform: rotateX($bookAngle);
  transform-origin: bottom;
  position: absolute;
  top: 0px;
  left: calc(50% - 5px);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $borderColor;
    width: 10px;
    height: 5px;
    border-radius: 50%;
  }
}

.pages,
.flips {
  transform-style: preserve-3d;
}

.flip {
  width: 32px;
  height: 300px;
  position: absolute;
  top: 0px;
  transform-origin: 100% 100%;
  right: 100%;
  border: solid $borderColor;
  border-width: 2px 0px;
  perspective: 4200px;
  perspective-origin: center;
  transform-style: preserve-3d;
  background-size: 420px 300px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0%;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background-size: 420px 300px;
  }

  &.flip1 {
    right: 50%;
    animation: flip1 $speed infinite ease-in-out;
    border-width: 2px 2px 2px 0;

    &::after {
      animation: nextFlip1 $speed*5 $speed*-4 infinite steps(1);
    }
  }

  &:not(.flip1) {
    right: calc(100% - 2px);
    top: -2px;
    transform-origin: right;
    animation: flip2 $speed ease-in-out infinite;
  }

  @for $i from 2 through 7 {
    &.flip#{$i}::after {
      animation: nextFlip#{$i} $speed*5 $speed*-4 infinite steps(1);
    }
  }

  &.flip7 {
    width: 30px;
    border-width: 2px 0px 2px 2px;

    &::after {
      animation: nextFlip7 $speed*5 $speed*-4 infinite steps(1);
    }
  }

  @keyframes flip1 {

    0%,
    20% {
      transform: rotateX($bookAngle) rotateY(6deg);
    }

    80%,
    100% {
      transform: rotateX($bookAngle) rotateY(174deg);
    }
  }

  @keyframes flip2 {

    0%,
    20% {
      transform: rotateY(0deg) translateY(0px);
    }

    50% {
      transform: rotateY(-15deg) translateY(0px);
    }
  }
}

@keyframes nextFlip1 {
  @for $i from 0 through 4 {
    #{$i * 20}% {
      background-image: nth($images, ($i + 1));
      background-position: -178px -2px;
      transform: rotateY(0deg);
    }

    #{10 + ($i * 20)}% {
      background-image: nth($images, ($i + 2));
      background-position: -210px -2px;
      transform: rotateY(180deg);
    }
  }
}

@for $i from 2 through 6 {
  @keyframes nextFlip#{$i} {
    @for $j from 0 through 4 {
      #{$j * 20}% {
        background-image: nth($images, ($j + 1));
        background-position: #{-148 + (($i - 2) * 30)}px -2px;
        transform: rotateY(0deg);
      }

      #{((10 + ($j * 20)) + (($i - 1) * 0.5))}% {
        background-image: nth($images, ($j + 2));
        background-position: #{-238 - (($i - 2) * 30)}px -2px;
        transform: rotateY(180deg);
      }
    }
  }
}

@keyframes nextFlip7 {
  @for $i from 0 through 4 {
    #{$i * 20}% {
      background-image: nth($images, ($i + 1));
      background-position: -2px -2px;
      transform: rotateY(0deg);
    }

    #{13 + ($i * 20)}% {
      background-image: nth($images, ($i + 2));
      background-position: -388px -2px;
      transform: rotateY(180deg);
    }
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: #000000;
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
}

nav.sticky .navbar .logo a {
  color: #ffffff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #ffffff;
}

nav.sticky .menu a {
  color: #ffffff;
}

nav.sticky .menu a:hover {
  color: #ffffff;
}

.navbar .media-icons a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #ffffff;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #000000;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #ffffff;
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("images/Home.svg") no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #ffffff;
}

.home .text-two {
  color: #ffffff;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #ffffff;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #ffffff;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0E2431;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* My Skills CSS */
.skills {
  background: #ffffff;
}

.skills .content {
  padding: 40px 0;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: #0E2431;
  text-align: justify;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num {
  color: #0E2431;
  font-size: 80px;
}

.skills-details .experience .exp {
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 20px;
  color: #4070f4;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contact Me CSS */
.contact {
  background: #F0F8FF;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer {
  background: #000000;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

footer .text span a {
  font-weight: 500;
  color: #ffffff;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #000000;
  background: #ffffff;
  padding: 7px 12px;
  ;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #ffffff;
  }
}